@import 'src/styles/constants/constants@desktop.scss';

.Logotype {
  &-Link {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &-Image {
    background-image: url(./Logotype.assets/logotype2.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
    width: 36px;
    height: 36px;

    transition: tranform, 0.2s ease;
  }

  &-Text {
    color: var(--color-text-primary);
    font-family: $font-secondary;
    font-weight: bold;
    font-size: $text-xl;
    letter-spacing: 3px;
    text-transform: uppercase;
  }

  &:hover &-Image {
    transform: translate(0, -4px);
  }
}
