.NavLink {
  cursor: pointer;
  outline: 0;
  touch-action: manipulation;
  -webkit-tap-highlight-color: transparent;
  
  color: var(--color-g-text-primary);
  text-decoration: none;
  
  padding-left: 15px;
  height: 42px;
  width: 175px;

  display: flex;
  align-items: center;
  gap: 10px;

  transition: all .3s ease;
  
  &_Active {
    background-color: var(--color-g-background-active);
    border-radius: 0 50px 50px 0;
  }
}
