@import 'styles/constants/constants@desktop.scss';

.Header {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 12px;
  z-index: 99999;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: $text-m;

  background-color: var(--color-g-background-primary);
  box-shadow: 0px 4px 5px 0px rgb(0 0 0 / 14%), 0px 1px 10px 0px rgb(0 0 0 / 12%), 0px 2px 4px -1px rgb(0 0 0 / 20%);
  
  &-Column {
    display: flex;
    align-items: center;
    gap: 20px;
  }

  &-NavigationSwitcher {
    margin-right: 20px;
  }

  &-Searchbar {
    background-color: var(--color-g-icon-hover-background);
    
    width: 150px;

    transition: all .3s ease;
  }

  &-Searchbar.Input-Label_Focused {
    width: 220px;
    
    background-color: transparent;
  }
}
