$font-regular: 'Roboto', arial, helvetica, sans-serif;
$font-secondary: 'Open Sans', arial, helvetica, sans-serif;

$text-s: 11px;
$text-s-line-m: 15px;
$text-m: 13px;
$text-m-line-s: 16px;
$text-m-line-m: 17px;
$text-m-line-l: 1em;
$text-m-line-xl: 20px;
$text-c: 14px;
$text-c-line-m: 18px;
$text-xm: 15px;
$text-xm-line-m: 18px;
$text-l: 18px;
$text-l-line-s: 1em;
$text-l-line-m: 24px;
$text-xl: 22px;
$text-xl-line-m: 32px;
$text-caps: 11px;
$text-caps-spacing: .08em;
$text-caps-transform: uppercase;
$text-greenurl: 14px;
$text-greenurl-line-m: 17px;
$text-code: 12px;
$text-code-line-m: 17px;
