@import '../styles/constants/constants@desktop.scss';

.App {
  font-family: $font-regular;
  
  background-color: var(--color-g-background-secondary);
  color: var(--color-g-text-primary);

  .Main {
    max-width: 1024px;
    margin: auto;
    margin-top: 65px;
  }
}

h3,
h2 {
  margin: 0;
}
